<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @introduction.comment %>
</p>

<p>
  <b>Name:</b>
  <%= @introduction.name %>
</p>


<%= link_to 'Edit', edit_introduction_path(@introduction) %> |
<%= link_to 'Back', introductions_path %>
