<%= form_for(@introduction) do |f| %>
  <% if @introduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@introduction.errors.count, "error") %> prohibited this introduction from being saved:</h2>

      <ul>
      <% @introduction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
